@media only screen and (max-width : 768px) {
  #page {
    width: 90%;
    margin: 20px auto 0 auto;
  }

  .header h1 {
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 65%;
    font-size: 14px;
    padding: 10px;
  }

  input[type="submit"] {
    width: 60px;
    padding: 11.8px 0;
  }

  .update {
    margin-top: 25px;
    margin-bottom: 45px;
  }

  .element .cityName {
    font-size: 16px;
  }

  .element .country, .element .temp {
    font-size: 14px;
  }
}
